In [3]:
import sqlite3
import pandas as pd

conn=sqlite3.connect("internship.db")

query = """
SELECT i.id, i.name, i.track, i.stipend, m.mentor_name FROM interns i INNER JOIN mentors m ON i.track = m.track;
"""

df=pd.read_sql_query(query,conn)

print(df)

    id       name            track  stipend mentor_name
0  101  Adithya G     Data Science    30000  Dr. Sharma
1  102  Dhanush H     Data Science    25000  Dr. Sharma
2  201      Kumar  Web Development    33000     Ms. Rao
3  103    Dilan B     Data Science    29000  Dr. Sharma